#discover {
  padding: 10px;
}

.discoverRow {
  border: 1px solid red;
  margin: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discoverRow h2 {
  margin-bottom: 15px;
}

.discoverPlaylistsRow {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
