#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#home h1 {
  margin-top: 20px;
}

#home p {
  margin-bottom: 20px;
}

.home__choose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__choose p {
  background-color: rgb(235, 235, 235);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  transition: all 0.3s;
}

.home__choose p:hover {
  cursor: pointer;
}

.homeRow {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px 0;
  align-items: center;
}

.featuredPlaylistsItem {
  filter: drop-shadow(0 0 0.3rem rgba(57, 79, 204, 0.376));
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  font-size: 12px;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.5s;
}

.featuredPlaylistsItem:hover {
  background-color: rgba(255, 255, 255, 0.726);
  transform: scale(1.03);
}

.featuredPlaylistsItem p {
  margin-top: 15px;
}

.featuredPlaylistsItem a {
  color: inherit;
  text-decoration: none;
}

.featuredPlaylistsItem a:hover {
  color: rgb(99, 98, 98);
}

.featuredPlaylistsItem img {
  width: 150px;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transition: all 0.4s;
}
