#dashboard {
  border: 1px solid red;
  height: auto;
  display: flex;
}

.dashboard__left {
  flex: 0.18;
  height: 90vh;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}

.dashboard__right {
  flex: 0.82;
  border: 1px solid greenyellow;
  height: 120vh;
}

.player {
  width: 100%;
  bottom: 0;
  position: fixed;
}
